[submodule "triple-hyde"]
	path = triple-hyde
	url = git@github.com:derme302/triple-hyde.git
[submodule "themes/triple-hyde"]
	path = themes/triple-hyde
	url = git@github.com:derme302/triple-hyde.git
