<!-- Sidebar -->
<div class="sidebar">
    <div
        class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}"
    >
        {{ partial "sidebar/about.html" . }}
        <div class="collapsible-menu">
            <input type="checkbox" id="menuToggle" />
            <label for="menuToggle">{{ .Site.Title }}</label>
            <div class="menu-content">
                <div>{{ partial "sidebar/menu.html" . }}</div>
            </div>
        </div>
        <div class="sidebar-footer">
            <div>{{ partial "sidebar/social.html" . }}</div>
            <div>{{ partial "sidebar/copyright.html" . }}</div>
        </div>
    </div>
</div>
